html {
  font-family: "Segoe UI", "San Fransisco", Ubuntu, sans-serif;
}

body {
  background-color: #f9f9fa;
}

a {
  text-decoration: none;
  color: #0c0c0d;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0;
  justify-items: center;
}

.middlecolumn1 {
  grid-column: 1;
  grid-row: 1;
  margin-top: 50px;
  font-size: 15px;
}

.middlecolumn2 {
  grid-column: 1;
  grid-row: 2;
}

.middlecolumn3 {
  grid-column: 1;
  grid-row: 3;

}

button, select {
  -moz-appearance: none;
  font-size: 15px;
  min-width: 145px;
  outline: 0 !important;
  padding: 0 8px 0;
}

button {
  height: 30px;
  margin-top: 8px;
  margin-bottom: 50px;
  border: 1px solid #d7d7db;
  background-color: #f9f9fa;
}

button:hover {
  background-color: #ebebeb;
  border: 1px solid #d7d7db;
}

button:focus {
  background-color: #ebebeb;
  border: 1px solid #d7d7db;
}

select {
  -moz-appearance: none;
  height: 30px;
  margin-bottom: 4px;
  background-repeat: no-repeat;
  background-position: calc(100% - 5px) center;
  background-size: 16px;
}

.lightselect {
  background-color: #f9f9fa;
  border: 1px solid #d7d7db;
  background-color: #f9f9fa;
  background-image: url("/img/dropdown-dark.svg");
}

.lightselect:hover {
  background-color: #ebebeb;
  border: 1px solid #d7d7db;
}

.lightselect:focus {
  background-color: #ebebeb;
  border: 1px solid #d7d7db;
}

.darkselect {
  background-color: #4a4a4f;
  color: #ffffff;
  border: 1px solid #000;
  background-image: url("/img/dropdown-light.svg");
}

.darkselect:hover {
  background-color: #0c0c0d;
}

.darkselect:focus {
  background-color: #0c0c0d;
}

#range {
  width: 446px;
  margin-top: 60px;
  margin-bottom: 20px;
}

#value-span, #value-input {
  text-align: center;
  margin: 0;
  border: none;
}

.c-1-color { background: #4a4a4f; }
.c-2-color { background: #f9f9fa; }
.c-3-color { background: #4a4a4f; }

.noUi-handle {
  width: 24px !important;
  left: -12px !important;
  height: 24px !important;
  top: -4px !important;
  box-shadow: none !important;
}

.noUi-handle:before,.noUi-handle:after {
  background: #fff !important;
}

.hidden {
  visibility: collapse;
}

.footer {
  position: absolute;
  right: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  font-size: 13px;
}